#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.count {
  font-size: 1em;
  font-weight: bold;
  margin-right: 8px;
  background-color: #1a1a1a;
  padding: 0.5em;
  border-radius: 0.5em;
}

.timer {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
  background-color: #1a1a1a;
  padding: 0.5em;
  border-radius: 0.5em;
}

.timer-control {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: baseline;
}